<?xml version="1.0"?>
<!--
/**
 * events.xml
 *
 * @copyright Copyright © 2023 Bold Commerce BV. All rights reserved.
 * @author    sidney@boldcommerce.nl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_config_generate_before">
        <observer name="paynl_hyvacheckout_register_module" instance="Paynl\HyvaCheckout\Observer\RegisterModuleForHyvaConfig"/>
    </event>
</config>
